
{% extends 'homepage/generic_page.html' %}
{% load staticfiles %}
{% block content %}
    <div class="hero-unit">
        <p>
          我们的目标：<br>
          移动关键词搜索点击率66.7%，移动附近搜索点击率37%， 移动搜全城搜索点击率46%。
        </p>
    </div>

    <div class="row">
    <div class="span8">
      <h3>搜索质量最新动态</h3>
      <ol>
        <li>关键词类目预测算法增强版上线（刘友强）</li>
        <li>移动搜索团购提权（友强，谢睿）</li>
        <li>搜索算法离线评估工具完成（毛宁）</li>
        <li>点击模型在移动关键词搜索，搜全城搜索和附近搜索上线（谢瑞，刘友强）</li>
        <li>LTR模型在移动关键词搜索上线。(龙夫，毛宁，友强，王强，曹佐)</li>
        <li>主站无结果关键词推荐。(符劼)</li>
      </ol>
     <h3>搜索质量最新进展</h3>
      <ol>
        <li>附近搜索团购提权效果提升10%（谢睿）</li>
        <li>移动关键词搜索点击模型上线后点击率提升到66.4%。(刘友强)</li>
        <li>移动搜全城搜索点击模型上线后点击率提升到46.4%。(谢睿)</li>
        <li>移动附近搜索点击模型上线后点击率提升到37.4%。(谢睿)</li>
      </ol>
    </div>
    <div class="span4">

    </div>
  </div>
      <script src="{{STATIC_URL}}js/jquery-1.10.2.min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
{% endblock %}