
{% extends 'homepage/generic_page.html' %}
{% load staticfiles %}
{% block content %}
    <div class="hero-unit">
        <p>
          我们的目标：<br>
          移动关键词搜索点击率66.7%，移动附近搜索点击率40%， 移动搜全城搜索点击率46%。
        </p>
    </div>

    <div class="row">
    <div class="span8">
      <h3>搜索质量最新动态</h3>
      <ol>
        <li>关键词类目预测算法增强版上线（友强）</li>
        <li>移动搜索团购提权（友强，谢睿）</li>
        <li>搜索算法离线评估工具完成（毛宁）</li>
      </ol>
     <h3>搜索质量最新进展</h3>
      <ol>
        <li>附近搜索团购提权效果提升10%（谢睿）</li>
      </ol>
    </div>
    <div class="span4">

    </div>
  </div>
      <script src="{{STATIC_URL}}js/jquery-1.10.2.min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
{% endblock %}