<div style="border:5px solid #F0F0F0; background-color:#E0E0E0;">
  {% if form.format == table %}
    <form action="" method="post"> {% csrf_token %}
  {% elif form.format == chart %}
    <form action="chart" method="post"> {% csrf_token %}
  {% endif %}
    <table>
        <tr>
            <td><label for="business">业务</label></td>
            <td>
                {{form.business}}
            </td>
            <td><label for="business">开始日期</label></td>
            <td>
                  <div id="datetimepicker1" class="input-append date">
                    <input data-format="yyyy-MM-dd" type="text" id="id_fromdate" name="fromdate" style="width:100px;" ></input>
                    <span class="add-on">
                      <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                    </span>
                  </div>
            </td>
            <td><label for="business">结束日期</label></td>
            <td>
                  <div id="datetimepicker2" class="input-append date">
                    <input data-format="yyyy-MM-dd" type="text" id="id_todate" name="todate" style="width:100px;" ></input>
                    <span class="add-on">
                      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                      </i>
                    </span>
                  </div>
            </td>
            <td><label for="business">算法版本</label></td>
            <td>{{form.algo_list}}</td>
            <td><label for="business">城市</label></td>
            <td>{{form.city_list}}</td>
        </tr>
        <tr>
            <td><label for="business">搜索类型</label></td>
            <td>{{form.search_type}}</td>
            <td><label for="business">分类</label></td>
            <td>{{form.category_list}}</td>
            <td><label for="business">Query类型</label></td>
            <td>{{form.query_category}}</td>
            <td><label for="business">Query处理</label></td>
            <td>{{form.query_process}}</td>
            <td></td> <td><button type="submit" class="btn">查询</button></td>
        </tr>
    </table>
    </form>
</div>
<script src="{{STATIC_URL}}js/jquery-1.10.2.min.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-datetimepicker.min.js"></script>
<script src="{{STATIC_URL}}highchart/highcharts.js"></script>
<script src="{{STATIC_URL}}js/overall_chart.js"></script>
<script type="text/javascript">
  function load_algo() {
    var business = $("#id_business").val();
    var fromdate = $("#id_fromdate").val();
    var todate = $("#id_todate").val();
    var url = "algo_list/" + business + "/" + fromdate + "/" + todate;
    $.get(url, function(data) {
      var options = "";
      for (var i=0; i < data.length; i++) {
        options += "<option value=" +  data[i][0] + ">" + data[i][1] + "</option>";
      }
      $("#id_algo_list").html(options);
    });
  }

  function load_query_category() {
    var business = $("#id_business").val();
    var fromdate = $("#id_fromdate").val();
    var todate = $("#id_todate").val();
    var url = "query_category/" + business + "/" + fromdate + "/" + todate;
    $.get(url, function(data) {
      var options = "";
      for (var i=0; i < data.length; i++) {
        options += "<option value=" +  data[i][0] + ">" + data[i][1] + "</option>";
      }
      $("#id_query_category").html(options);
    });
  }

  function load_option() {
    load_algo();
    load_query_category();
  }

  var index = 0
  var date_list = new Array();
  {% for item in overall_result %}
    date_list[index] = '{{ item.statdate|date:"Y-d-M" }}'
    index += 1
  {% endfor %}

  index = 0
  search_num_list = new Array();
  {% for item in overall_result %}
    search_num_list[index] = {{ item.searchnum }}
    index += 1
  {% endfor %}

  index = 0
  click_rate_list = new Array();
  {% for item in overall_result %}
    click_rate_list[index] = {{ item.clickrate }}
    index += 1
  {% endfor %}


  function load_search_num_chart() {
  $('#search_num_chart').highcharts({
          title: {
              text: '搜索次数--时间',
              x: -20 //center
          },
          xAxis: {
              categories: date_list
          },
          yAxis: {
              title: {
                  text: '搜索次数'
              },
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'middle',
              borderWidth: 0
          },
          series: [{
              name: '搜索次数',
              data: search_num_list
          }]
      });
}

function load_click_rate_chart() {
  $('#click_rate_chart').highcharts({
          title: {
              text: '点击率--时间',
              x: -20 //center
          },
          xAxis: {
              categories: date_list
          },
          yAxis: {
              title: {
                  text: '点击率'
              },
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'middle',
              borderWidth: 0
          },
          series: [{
              name: '点击率',
              data: click_rate_list
          }]
      });
}

function load_chart() {
  load_search_num_chart();
  load_click_rate_chart();
}

  $(function() {
    $('#datetimepicker1').datetimepicker({
      language: 'pt-BR',
      pickTime: false,
    });
    $('#datetimepicker2').datetimepicker({
      language: 'en',
      pickTime: false,
    });
    $('#id_fromdate').val('{{form.init_fromdate}}');
    $('#id_todate').val('{{form.init_todate}}');
    $('#id_business').on("change", load_option);
    $('#id_fromdate').on("change", load_option);
    $('#id_todate').on("change", load_option);
    load_chart();
  });

</script>